*{
    margin:0;
    padding:0;
    font-family: sans-serif;
}
.apple{
    position: relative;
    width: 100%;
    height:125vh ;
    background-color: rgb(143, 232, 202);
}
nav{
    display: flex;
    width: 84%;
    margin:auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
nav ul li a:hover{
    color: red;
}
.details{
    margin-left: 8%;
    margin-top: 13%;
}
.details h1{
    font-size: 50px;
    color: black;
    margin-bottom:20px ;
}
span{
    color:rgb(239, 190, 43);
}
.details p{
    color:#555;
    line-height: 22px ;
}
#insta{
    color:rgb(7, 18, 18)
}
#insta:hover a{
    color: rgb(230, 102, 123);
}
.details a{
    background-color: rgb(52, 30, 30);
    padding: 10px 18px;
    text-decoration:none;
    font-weight: bold;
    color: bisque;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}
.details:hover a{
    color:rgb(184, 184, 226);
    
}
.images
{
    width:40%;
    height:65%;
    position: absolute;
    bottom: 0%;
    right:100px;
}
.images img{
    height: 100%;
    position:absolute;
    left:50%;
    bottom:0;
    transform: translatex(-50%);
    transform:bottom 2s left 3s;
}
.images:hover .photo{
    left:45% ;
}
    